<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    {% extends 'base.html' %}
      {% block content %}
     
        <b>Nombre del programa: </b><p>{{ programa.nombre }}</p>
        <b>descripcion: </b><p>{{ programa.descripcion }}</p>
         
        
        
        <h3>cursos:</h3>
        <ul>
          {% for curso in cursos %}
          <li>
            <b>{{ curso.nombre }}</b>
          </li>
      {% endfor %}
        </ul>
         
        <a href="javascript:history.back()" class="btn btn-primary">Volver a la página anterior</a>
          
      </div>
    </section>
     
      {% endblock content %}

</body>
</html>
